body{
    color: white;
    background-image: url("https://images.unsplash.com/photo-1567359781514-3b964e2b04d6?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mjd8fHB1cnBsZSUyMGJhY2tncm91bmQlMjB0ZXh0dXJlfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Spectral', serif; 
    text-align: justify;    
}

html{
    scroll-behavior: smooth;
}

.wrapper{
    margin: 7px;
}


/*NAVBAR*/
.navbar{
    display: flex;
    flex-direction: row;
    z-index: 99;
    position: sticky;    
    background-color: rgb(106, 156, 187, 0.85);
    color: white;
    border: solid 1px white;  
    margin: 7px;
}

.navbar a{
    color: white;
    margin: 5px 25px;
    font-size: 24px;  
}

#navbarMyName{
    position: relative;
    left: 20px;
    top: 8px;
    font-size: 24px;  
}



/*HEADER*/
header{
    padding: 20px 20px 0px 20px;
}

.photo{
    border: solid 5px  rgb(130, 55, 136, 0.75);
    border-radius: 25%;
}

.name{
    text-align: left;
}

.description{
    text-align: left;
}

/*MULTIPLE ITEMS*/
.alert{
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    background-color: rgb(130, 55, 136, 0.75);
    color: white;
    margin: 20px 0px;
   
}


/*ABOUT ME*/
.wrapperAboutMe{
    background-color: rgb(106, 156, 187, 0.8);
    border-radius: 5%;
    margin: 7px 10px;
    padding: 20px 20px;
}

#workPhoto{
    border: solid 2px white;
    border-radius: 5%;
    position: relative;
    top: 10px;
    left: 10px;
}

.aboutMeTitle{
    color: white;
    text-align: center;
}

.textAboutMe{
    font-size: 22px;
}

.roseAwards{
    font-size: 22px;
    text-align: center;
}

#roseAwardLink{
    color:white;
}

#roseAwardsPhoto{
   border: solid 3px white;
   border-radius: 5%;  
}

#skillsPhoto{
    border: solid 3px none;
    border-radius: 5%;
}

/*PROJECTS*/
.card-img-top{
    height: 15vw;
    width: 100%;
    object-fit: cover;
}

.card{
    background-color: black;
    color: white;
    border: solid 2px white;
    border-radius: 2%;
}

.cardButton{
    background-color: rgba(227, 34, 150, 0.8);
    border: none;
}

#roseAwards{
    font-size: 22px;
}


/*CONTACT*/

.contactFormTitle{
    color:white;
    font-size: 25px;
    position: relative;
    left: 20px;    
}

.form{
    background-color:  rgba(106, 156, 187, 0.70);
    color: white; 
    padding: 10px 30px 20px 0px;
    border: solid 1px white;
    border-radius: 3%;   
    width: 350px; 
    text-align: center;  
    position: relative; 
}

label.field {
    text-align:right;
    width: 100px;
    font-size: 20px;
}

input.textbox{
    width: 300px;
}

#submitButton{
    background-color:transparent;
    color: white;
    border: none;
    border-radius: 5%;
    font-size: 20px;
    padding: 5px 5px 10px 5px;
    margin: 5px;    
    position: relative;
    bottom: 6px;    
    width: 200px;   
    height: 25px; 
    text-align: center;

}

.submitButton2{
    background-color:  rgba(227, 34, 150, 0.8);
    color: white;
    border: solid 2px white;
    border-radius: 5%;
    position: relative;   
    left: 20px;
    top: 4px;

}

.links{
    background-color:  rgba(106, 156, 187, 0.70);
    color: white; 
    padding: 10px 5px 45px 0px;
    border: solid 1px white;
    border-radius: 3%;   
    width: 350px; 
    text-align: center;  
    position: relative;
}

.linksTitle{
    color:white;
    font-size: 25px;  
}

#linkedInLogo{
    position: relative;
    right: 10px;
    top: 10px
}

#githubLogo{  
    position: relative;
    left: 10px;
    top: 10px
}

.resumeButton{
    background-color:  rgba(227, 34, 150, 0.8);
    color: white;
    border: solid 2px white;
    border-radius: 5%;
    position: relative;
    top: 30px;
    left: 4px;
}


/*FOOTER*/
.footer{
    position: relative;
    padding-top: 40px;
    padding-right: 80px;
    float: right;
}





